section {
    height: 100%;
    width: 75%;
    margin: 20px 0;
    
    .title {
        font-family: 'Lalezar', 'Courier New', Courier, monospace;
        font-size: 2rem;
        color: #9D1C00;
    }
}