@import "src/common/_variables.scss";

.mainContent {
    min-height: 90vh;
    height: 100%;
    width: 100%;
    background-color: $background-color;

    display: flex;
    justify-content: center;

    padding: 20px 0 20px 0;
}