@keyframes scale-in-hor-center {
    0% {
        transform: scaleX(0);
        opacity: 1;
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes text-pop-up-top {
    0% {
        transform: translateY(0);
        transform-origin: 50% 50%;
    }

    100% {
        transform: translateY(-5px);
        transform-origin: 50% 50%;
    }
}

header {
    width: 100%;

    margin: 20px 0;

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logo {
            width: 7%;
            height: 7%;
            border-radius: 10%;
        }

        ul {
            width: 30%;
            height: 2rem;
            list-style: none;
            display: flex;
            justify-content: space-between;

            li {
                width: 6rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    position: relative;
                    font-family: 'Lalezar', 'Courier New', Courier, monospace;

                    font-size: 2rem;
                    color: #9D1C00;
                    border: none;
                    background-color: transparent;

                    &:hover {
                        color: #FCB400;
                        cursor: pointer;
                    }
                }

                .selectedButton {
                    &::after {
                        animation: scale-in-hor-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        content: " ";
                        width: 80%;
                        height: 7px;
                        background-color: #9D1C00;
                        position: absolute;
                        bottom: 0;
                        left: 10%;
                        border-radius: 22px;
                    }
                }
            }
        }

        .userArea {
            width: 15%;

            display: flex;
            justify-content: space-around;
            align-items: center;

            button {

                border: none;
                background-color: transparent;
                width: 3rem;
                height: 3rem;

                img {
                    width: 3rem;
                    height: 3rem;
                }

                &:hover {
                    img {
                        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    }

                    cursor: pointer;
                }
            }

            p {
                font-family: 'Lalezar', 'Courier New', Courier, monospace;
                color: #9D1C00;
                width: 35%;
                text-align: center;
            }
        }
    }
}