@import "src/common/_variables.scss";

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes shrink {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

section {
    height: 100%;
    width: 85%;

    .title {
        font-family: $primary-font;
        font-weight: 700;
        font-size: 1.5rem;
        color: $primary-color;

        margin-bottom: 20px;
    }

    .productsArea {
        display: grid;
        grid-template-columns: repeat(auto-fill, 120px);
        justify-content: space-between;

        column-gap: 1rem;
        row-gap: 1.25rem;

        button {
            width: 120px;
            height: 40px;

            border-radius: 20px;
            background-color: #ffffff;
            border: none;

            display: flex;
            justify-content: space-around;
            align-items: center;

            box-shadow: 2px 2px 6px rgb(150, 150, 150);

            cursor: pointer;

            &:hover {
                transition: all 0.1s;
                filter: brightness(96%);
            }

            label {
                font-family: $secondary-font, serif;
                font-weight: 500;
                font-size: 1.5rem;
                cursor: pointer;
            }

            input {
                cursor: pointer;
                height: 1.35rem;
                width: 1.35rem;

                appearance: none;

                background-color: #ffffff;

                border: 2px rgb(0, 0, 0) solid;
                border-radius: 5px;

                &:checked {
                    transition: all 0.1s;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='14' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: center;
                    border-color: #721400;
                    background-color: $primary-color;
                    color: white;
                }
            }
        }

        .productSelected {
            border: $primary-color solid 1.5px;
        }
    }
}